Search string doesn't encode plus sign correctly

**I'm submitting a...**
<!-- (Update "[ ]" to "[x]" to check a box) -->
- [x] Bug report
- [ ] Feature request
- [ ] Documentation issue or request


<br>


**Current behavior**
<!-- Describe how the issue manifests. -->
From Steven#6506:

I found what I think is a bug in the NexusHub API /wow-classic/v1/search endpoint - the following requests return different responses because I think it's interpreting the spaces in the query parameters differently:

1. https://api.nexushub.co/wow-classic/v1/search?query=light%20leather&threshold=1.2 (works as expected, space escaped as %20)

2. https://api.nexushub.co/wow-classic/v1/search?query=light+leather&threshold=1.2 (does not work, but the + character should be interpreted as a space after the ? per RFC 2396 Section 3.4 https://www.ietf.org/rfc/rfc2396.txt)


<br>


**Expected behavior**
<!-- Describe what the desired behavior would be. -->


<br>


**Minimal reproduction of the problem**
<!--
For bug reports please provide the steps to reproduce and if sensible a
minimal demo repository.
If this is a feature request, please describe the scenario in which a user
would use this feature.
-->


<br>


**Environment**
<!-- You can leave these unchecked for feature requests unless necessary -->

Browser: <!-- If your issue is related to the web-app -->
- [ ] Chrome (desktop) version:
- [ ] Chrome (Android) version:
- [ ] Chrome (iOS) version:
- [ ] Firefox version:
- [ ] Safari (desktop) version:
- [ ] Safari (iOS) version:
- [ ] IE version:
- [ ] Edge version:

For development issues:
- Node version:
- Operating System:

##

**Additional Description**
<!-- Only if there is something to be said that isn't covered above -->


Probably makes more sense to fix in the cubic api, since this should in theory affect all endpoints: https://github.com/cubic-js/cubic/blob/development/packages/api/middleware/native/http.js#L17